<!DOCTYPE html>
<html>
	<title>Mad Libs Help</title>
		
	<head>
		<style>
			body {background-color:lightsteelblue;}
			h2   {color: royalblue;}
			h3   {color: seagreen;}
		</style>
	</head>
	<body>
		<h2>TO PLAY</h2>
		<h3>
The READER asks each WRITER in turn to call out a word—an adjective or
a noun or whatever the space calls for—and uses them to fill in the blank
spaces in the story. The result is a MAD LIBS® game.
When the READER then reads the completed MAD LIBS® game to the other
players, they will discover that they have written a story that is fantastic,
screamingly funny, shocking, silly, crazy, or just plain dumb—depending
upon which words each WRITER called out.
		</h3>
		<h2>Quick Review</h2>
		<h3>
			<table>
			  <tr>
				<td>
					1. An ADJECTIVE describes something or somebody. <br/>
					Lumpy, soft, ugly, messy, and short are all adjectives.
					<p/>
				</td>
			  </tr>
			  <tr>
				<td>
				2. An ADVERB tells how something is done. <br/>
				It usually modifies a verb (but sometimes an adjective or<br/>
				another adverb) and usually ends in “ly.” <br/>
				Modestly, stupidly, greedily, carefully, and very are all adverbs.
				<p/>
			</td>
			  </tr>
			  <tr>
				<td>
				3. A NOUN is the name of a person, place, thing or concept.<br/>
				 Sidewalk, umbrella, bridle, bathtub, nose, and love are all nouns.
				 <p/>
				</td>
			  </tr>
			  <tr>
				<td>
				4. A VERB is an action word (or state). Run, pitch, jump, swim, and am are all verbs. <br/>
				Put the verbs in past tense if the directions say PAST TENSE.<br/>
				 Ran, pitched, jumped, swam, and was are the same verbs in the past tense.
				 <p/>
				</td>
			  </tr>
			  <tr>
				<td>
				5. A PLACE can be any sort of place: a country, or city (Spain, Delta) <br/>
				or a room (bathroom, kitchen), or a location (zoo, racetrack)
				<p/>
				</td>
				</tr>
			  <tr>
				<td>
				6. An EXCLAMATION or SILLY WORD is any sort of<br/>
				 funny sound, gasp, grunt, or outcry, like Wow!, Ouch!, Whomp!,<br/>
				  Ick!, and Gadzooks!
				<p/>
				</td>
			  </tr>
		  </table>
		</h3>
	</body>
	
</html>

