<!DOCTYPE html>
<html>
	<title>Welcome to Mad Libs</title>	
	<head>
	<style>
		body {background-color:lightsteelblue;}
		h2   {color: royalblue;}
		h3   {color: seagreen;}
	</style>
	</head>
	<body>
		
	<h2>Please fill in the following Box with there respective word.</h2>	
	<h3>
		<form action="/about" method="GET">
		Need Help? Press <input type ="submit" value="Help"/>
		</form>
	</h3>
	<form action="/ml_result_pg/results" method="POST">
		<h3>Please enter an adjective:      	<input type = "text" name="adj1"/></h3>
		<h3>Please enter a noun:		    	<input type = "text" name="n1"/></h3>
		<h3>Please enter a noun:		    	<input type = "text" name="n2"/></h3>
		<h3>Please enter a verb:		    	<input type = "text" name="v1"/></h3>
		<h3>Please enter a liquid:		    	<input type = "text" name="liq1"/></h3>
		<h3>Please enter a liquid:		    	<input type = "text" name="liq2"/></h3>
		<h3>Please enter a liquid:				<input type = "text" name="liq3"/></h3>
		<h3>Please enter a color:		    	<input type = "text" name="col1"/></h3>
		<h3>Please enter a verb:		    	<input type = "text" name="v2"/></h3>
		<h3>Please enter a verb:		    	<input type = "text" name="v3"/></h3>
		<h3>Please enter a number:		    	<input type = "text" name="num1"/></h3>
		<h3>Please enter an adjective:      	<input type = "text" name="adj2"/></h3>
		<h3>Please enter an adverb:		    	<input type = "text" name="adv1"/></h3>
		<h3>Please enter a body part (plural):	<input type = "text" name="bod1"/></h3>
		<h3>Please enter a verb:		    	<input type = "text" name="v4"/></h3>
		<h3>Please enter a verb:		    	<input type = "text" name="v5"/></h3>
		
		When you're done, hit submit: <input type ="submit" value="Submit!"/>

	</form>
	</body>
</html>
